<div [ngClass]="{'editing-note': isNoteEditing, 'regular-note': !isNoteEditing}">
  <p class="instruction" *ngIf="!isNoteEditing">*hit enter to save</p>
  <form #noteForm="ngForm" (ngSubmit)="submitForm(noteForm)">
    <h3>
      <input type="text" id="header" #headerInput name="header" class="header" [(ngModel)]="note.header" required placeholder="Add header">
    </h3>
      <p><textarea id="message" name="message" (keyup.enter)="handleKeyUp($event, noteForm)"  class="message" [(ngModel)]="note.message" required placeholder="Add message"></textarea></p>
    <div class="btn">
      <button type="submit" class="icon"><i class="fa-solid fa-floppy-disk"></i></button>
      <button type="button" class="icon" (click)="cancelForm(noteForm)"><i class="fa-solid fa-ban"></i></button>
    </div>
</form>
</div>
  