<div class="container">
    <div class="search">
        <div class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input type="text" placeholder="Search notes" [(ngModel)]="searchTerm" class="searchbar">
    </div>
    

    <div class="note-list">
        <div *ngFor="let note of filteredNotes" class="note">
            <div *ngIf="selectedNote && selectedNote.id === note.id; else noteList">
                <app-add-note [note]="selectedNote"  (saved)="saveEdit($event)" (canceled)="cancelEdit()"></app-add-note>
            </div>
            <div>
                <ng-template #noteList class="note-content">
                    <p class="date">{{note.date}}</p>
                    <h3 class="note-header">{{note.header}}</h3>
                    <p class="note-message">{{note.message}}</p>
                    <div class="btn">
                        <button (click)="editNote(note)" class="icon"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button (click)="deleteNote(note.id)" class="icon"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>

